@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            
            <h1 class="display-1">Vítejte v 2048</h1>
            <p class="lead">2048 je skvělá, zábavná hra, ve které vaším úkoly je spojovat čtverečky a vytvořit co největší číslo</p>
            
            <div>
                <button class="btn btn-primary btn-lg">Hrát hru</button>
            </div>

        </div>
    </div>
</div>