@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<div class="container text-center mt-5">
    <div class="row justify-content-center">
        <div class="col-8">

            <h1 class="display-1">Vítejte v 2048</h1>
            <p class="lead">2048 je skvělá, zábavná hra, ve které vaším úkoly je spojovat čtverečky a vytvořit co největší číslo</p>
            

            <div>
                <button class="btn btn-primary btn-lg" @onclick="PlayGame">Hrát hru</button>
            </div>

        </div>
    </div>
</div>

@code {

    private void PlayGame()
    {
        NavigationManager.NavigateTo("/play");
    }

}